.drive-container {
  margin: 2% 5%; /* Adjust margins for responsiveness */
}

.file-list-container {
  margin-top: 2%; /* Adjust top margin for responsiveness */
  overflow-x: auto; /* Add horizontal scrolling */
}

.file-list-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.file-list-table {
  width: 100%;
  border-collapse: collapse;
}

.file-list-table th,
.file-list-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.file-list-table th {
  background-color: black;
}

.total-files {
  margin-top: 10px;
}

.download-btn {
  padding: 6px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.download-btn:hover {
  background-color: #45a049;
}

@media screen and (max-width: 768px) {
  .drive-container {
    margin: 2% 2%; /* Adjust margins for smaller screens */
  }

  .file-list-container {
    margin-top: 2%; /* Adjust top margin for smaller screens */
  }
}
